<div class="container-fluid">
    <footer>
    	<ul>
	        <li>&copy; UMass Amherst CS 326 S13 Class Project - <a target="_blank" href="FunctionalSpecification.pdf">Team Attitash</a></li>
	        <li></li>
	        <li>*For academic purposes only</li>
        <ul>
    </footer>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bootstrap/docs/assets/js/jquery.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-button.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
<script src="/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>

<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/attitash.js"></script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/chat.js"></script>


<script src="/javascripts/socket.js"></script>


</body>
</html>