<footer>
  <p>&copy; Attitash 2013</p>
</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bootstrapped/docs/assets/js/jquery.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-transition.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-alert.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-modal.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-dropdown.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-scrollspy.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-tab.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-tooltip.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-popover.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-button.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-collapse.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-carousel.js"></script>
<script src="bootstrapped/docs/assets/js/bootstrapped-typeahead.js"></script>

<script>
    $('.search-query').typeahead({
        source: ['Jerry Seinfeld', 'George Costanza', 'Cosmo Kramer', 'John Coschigano', 'Brain Dragunas', 'Samuel Nascimento', 'Anthony Battaglia'],
        });
</script>

</body>
</html>