    <!-- Le styles -->
    <link href="/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/attitash.css" rel="stylesheet">
    <link href="/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="bootstrap/docs/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/bootstrap/docs/assets/ico/favicon.png">
    <title><%= title %></title>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top center">

      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="home"><i class="icon-home"></i> Home</a></li>
              <li><a href="/user/connect"><navtextcolor>@</navtextcolor> Connect</a></li>
              <li><a href="/user/discover"><navtextcolor>#</navtextcolor> Discover</a></li>
              <li><a href="/user/me"><i class="icon-user icon-white"></i> Me</a></li>
              <li><a class="brand" href="/user/home"><img class="img-navbar inline" src = /images/attitashnavlogo.png></a></li>
              <li>
              	<form class="navbar-search">
                  <input type="text" class="search-query span3" placeholder="Search" data-provide="typeahead" autocomplete="off" >
                  <div class="icon-search"></div>
                </form>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Edit profile</li>
                  <li><a href="#">@<%= username %></a></li>
                  <li class="divider"></li>
                  <li><a href="#">Direct messages</a></li>
                  <li><a href="#">Lists</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Keyboard Shortcuts</a></li>
                  <li class="divider"></li>
                  <li><a href="/settings">Settings</a></li>
                  <li><a href="/user/logout">Sign out</a></li>
                </ul>
              </li>
            </ul>

            <!-- Button to trigger modal -->
              <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal"><i class="icon-pencil icon-white"></i></a>
              <!-- Modal -->
              <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">What's going on?</h3>
                </div>
                <div class="modal-body">
                  <form id="send_tash_modal">
                    <textarea class="new_tash" type="text" placeholder="Compose New Tash..."></textarea>
                    <div class="modal-footer">
                      <p class="pull-left"> <span class="chars_left">Characters left: <small>140</small></span></p>
                      <input type="submit" class="btn btn-primary" value="Tash">
                    </div>
                  </form>
                </div>
              </div>                          
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>