<% include headernav.ejs %> <!-- header and top-level nav bar -->
<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <div id="dash" class="well well-small clearfix">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td width="5%">
                <img class="img-rounded offset1" src="images/attitash-dev-prof-pic.jpeg" />
              </td>
              <td width="95%">
                <a href="#"><h5><%= userName %></a><span><p><small>view profile page</small></p></span></h5>
              </td>
            </tr> 
            <tr>
              <td>5</td>
              <td>3</td>
              <td>7</td>
            </tr> 
          </thead>
          <tbody>
            <tr>
              <td>Tashs</td>
              <td>Following</td>
              <td>Followers</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="well well-small">
      <ul id="suggest-follow" class="nav nav-stacked">
        <li class="nav-header">People you may know</li>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" src="images/george.jpg">
            </a>
          <div class="media-body">
            <h5 class="media-heading"><a href="#">George Costanza</a> <small>@Costanza</small><br>
            <small>Followed by <a href="#"><u>Windows</u></a> and 4 others</small></h5>
            <a class="btn btn-primary btn-mini">Follow</a>
          </div>
          </div>
        </li>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" src="images/kramer.jpg">
            </a>
          <div class="media-body">
            <h5 class="media-heading"><a href="#">Cosmo Kramer</a> <small>@K-Man</small><br>
            <small>Followed by <a href="#"><u>Jerry Seinfeld</u></a> and 12 others</small></h5>
            <a class="btn btn-primary btn-mini">Follow</a>
          </div>
          </div>
        </li>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" src="images/sein.jpg">
            </a>
          <div class="media-body">
            <h5 class="media-heading"><a href="#">Jerry Seinfeld</a> <small>@Seinfeld</small><br>
            <small>Followed by <a href="#"><u>Twitter</u></a> and 7 others</small></h5>
            <a class="btn btn-primary btn-mini">Follow</a>
          </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Trends</li>
        <li><a href="#">#attitash</a></li>
        <li><a href="#">#cs326</a></li>
        <li><a href="#">#jingleheimer</a></li>
        <li><a href="#">#roflmao</a></li>
        <li><a href="#">#balsamiq</a></li>
        <li><a href="#">#betterthantwitter</a></li>
        <li><a href="#">#tash</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span8">

    <ul id="tashs" class="nav nav-stacked">
      <li>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object img-rounded" src="images/windows.png">
          </a>
        <div class="media-body">
          <span class="pull-right date">Mar 6</span>
          <h5 class="media-heading"><a href="#">Windows</a> <small>@Windows</small></h5>
          Windows 8 is off to a worse start than Vista! #letsgo #metro
        </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object img-rounded" src="images/twitter.png">
          </a>
        <div class="media-body">
          <span class="pull-right date">Mar 6</span>
          <h5 class="media-heading"><a href="#">Twitter</a> <small>@Twitter</small></h5>
          Attitash has stolen all of our users! #ohno #attitash
        </div>
        </div>
      </li>
    </ul>

  </div><!--/span8-->
</div><!--/row-->

</div><!--/container-->

<% include footer.ejs %> <!-- footer and bootstrap scripts -->