<% include headernav.ejs %> <!-- header and top-level nav bar -->
<div class="container">
  <div class="row-fluid">
    <div class="span3">
      <div id="trends" class="well sidebar-nav">
        <h5><%= userName %></h5>  
        <img class="img-rounded offset1" src="images/attitash-dev-prof-pic.jpeg" />
        <a href="#">view profile page</a>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Tashs</th>
              <th>Following</th>
              <th>Followers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5</td>
              <td>3</td>
              <td>7</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">People you may know</li>
        <li>
          <a href="#"><img class="img-rounded" src="images/sein.jpg" /> Jerry Seinfeld</a>
        </li>
        <li>
          <a href="#"><img class="img-rounded" src="images/george.jpg" /> George Costanza</a>
        </li>
        <li>
         <a href="#"><img class="img-rounded" src="images/kramer.jpg" /> Cosmo Kramer</a>
        </li>
      </ul>
    </div>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Trends</li>
        <li><a href="#">#attitash</a></li>
        <li><a href="#">#cs326</a></li>
        <li><a href="#">#jingleheimer</a></li>
        <li><a href="#">#roflmao</a></li>
        <li><a href="#">#balsamiq</a></li>
        <li><a href="#">#betterthantwitter</a></li>
        <li><a href="#">#tash</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span9">

    <table id="tashs" class="table table-hover">
      <tbody>
        <tr>
          <td width="8%">
            <a href="#"><img class="img-rounded" src="images/kramer.jpg" /></a>
          </td>
          <td width="90%">
            <span class="pull-right"><h6><small>March 6, 2013</small></h6><br></span>
            <span><a href="#"><strong>Cosmo Kramer</strong></a> <small><strong>@Assman</strong></small></span>
            <p>I just got a new license plate, and that makes me the Assman! #giddyup</p>
          </td>
        </tr>
        <tr>
          <td width="8%">
            <a href="#"><img class="img-rounded" src="images/kramer.jpg" /></a>
          </td>
          <td width="90%">
            <span class="pull-right"><h6><small>March 6, 2013</small></h6><br></span>
            <span><a href="#"><strong>Cosmo Kramer</strong></a> <small><strong>@Assman</strong></small></span>
            <p>I just got a new license plate, and that makes me the Assman! #giddyup</p>
          </td>
        </tr>
        <!-- <tr>
          <td class="tash-thumb">
            <a href="#">
              <img class="img-rounded" src="images/kramer.jpg" alt="Kramer" />
            </a>
          </td>
          <td>
            <a href="#">Cosmo Kramer @Assman</a>
            I just got this new license plate - and now I'm the Assman! #giddyup
          </td>
        </tr> -->
      </tbody>
    </table>

  </div><!--/span9-->
</div><!--/row-->

</div><!--/.fluid-container-->

<% include footer.ejs %> <!-- footer and bootstrap scripts -->