<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Initial page of Attitash">
    <meta name="author" content="Samuel">
    <link href="bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/login.css" rel="stylesheet" type="text/css">
    <link href="bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="bootstrap/docs/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
    <link href="stylesheets/attitash.css" rel="stylesheet">
    <style>
    </style>
  </head>
  <body>
  <div id="loginContent">
    <div class="row">
      <div class="span6">
        <img src="images/logo.png" name="logo" class="img-rounded inline" id="logo" />
       </div>
      <div class="span4">
      </div>
    </div>
    <form id="loginForm">
      <div class="row">
        <div class="span3">
          <input name="" type="email" placeholder="Username" class="textfield">
          <div class="control-group">
            <label for="textinput5">
            </label>
            <input name="" type="password" placeholder="Password">
          </div>
          <div id="buttonLine" align="right">
          <a class="btn btn-primary" href="/home">
            <div style="text-align: center;">
              Login
            </div>
          </a>
          <a class="btn btn-primary" href="/register">
            <div style="text-align: center;">
              Register
            </div>
          </a>
        </div>
        </div>
        <div class="span6">
        </div>
      </div>
      <div class="control-group">
        <label for="">
        </label>
      </div>
      <div class="control-group">
      </div>
      <div class="control-group">
      </div>
    </form>
    <div class="container">
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="bootstrap/docs/assets/js/bootstrap.js">
    </script>
  </body>
</html>
