<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Attitash</title>
        <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
    </head>
<body>
        <div align="right">
          <form action="register.html" method="post" name="form_register" class="form" id="form_register">
                <input type="submit" name="button_register" id="button_register" value="Register">
            </form>
    	</div>
        
<img src="/images/cooltext937002755.png" name="logo" class="logo" id="logo" align="middle">
       
<div align="center"> 
  <form action="" method="post" name="form_login" class="form" id="form_login">
                <p>
                  <input name="login" type="text" class="textfield" id="login" value="Username">
                </p>
                <p>
                  <input name="password" type="password" class="textfield" id="password" value="Password">
                </p>
                <p>
                  <input type="submit" name="button_login" id="button_login" value="Submit">
                </p>
            </form>
</div>
</body>
</html>
