<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Initial page of Attitash">
    <meta name="author" content="Samuel">
    <link href="/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
    <link href="/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/bootstrap/docs/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
    <link href="/stylesheets/attitash.css" rel="stylesheet">
  </head>
  <body>
    <div class="login-fluid">
       <div class="span6">
      <div class="well well-small">
        <img src="/images/logo.png" name="logo" class="img-rounded inline" id="logo"/></br>
 <div><%= message %></div><br>
    <form method="post" action="/user/auth">
          <input name="username" type="email" placeholder="Username"></br>
            <input name="password" type="password" placeholder="Password"> </br>
          <button> Login </button> 
          <a href="/user/register"><input type="button" name="name" value="Register"></a> 
        </form>
    </div>
</div>  
</div>

  </body>
</html>
