<!DOCTYPE HTML>

<div class="container-fluid home">
  <div class="row-fluid">
    <div class="span4">
      <div id="dash" class="well well-small">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td>
                <a href="/me"><img class="img-rounded offset1" src="images/attitash-dev-prof-pic.jpeg" /></a>
              </td>
              <td>
                <a href="/me"><h5><%= userName %></a></h5>
              </td>
            </tr> 
            <tr>
				<div class="btn-group btn-group-vertical">
					<button class="btn" name="vbuttons" value="account">Account</button>
					<button class="btn" name="vbuttons" value="password">Password</button>
					<button class="btn" name="vbuttons" value="profile">Profile</button>
				</div>
            </tr> 
          </thead>
          <tbody>
          </tbody>
        </table>
      
      </div>
    <div class="well well-small">
      <ul id="suggest-follow" class="nav nav-stacked">
          <div class="media">
            <a class="pull-left" href="#">
             
            </div>
          </div>
          </li>
        
      </ul>
    </div>
  </div><!--/span-->
  <div class="span8">
    
  </div><!--/span8-->
</div><!--/row-->
</div><!--/container-->
