<% include headernav.ejs %> <!-- header and top-level nav bar -->

<!DOCTYPE HTML>

<div class="container-fluid home">
  <div class="row-fluid">
    <div class="span4">
      <div id="dash" class="well well-small">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td>
                <a href="/me"><img class="img-rounded offset1" src="images/attitash-dev-prof-pic.jpeg" /></a>
              </td>
              <td align="left">
                <a href="/me"><h5><%= userName %></a></h5>
              </td>
            </tr> 
		  </thead>
          
        </table>
					<div class="btn-group btn-group-vertical">
						<button class="btn" name="vbuttons" value="account" style="width:250;">Account</button>
						<button class="btn" name="vbuttons" value="password" style="width:250;">Password</button>
						<button class="btn" name="vbuttons" value="profile" style="width:250;">Profile</button>
					</div> <!--/class="btn-group btn-group-vertical-->
    

      
      </div><!--/class="well well-small">-->
    <div class="well well-small">
      <ul id="suggest-follow" class="nav nav-stacked">
          <div class="media">
            <a class="pull-left" href="#">
             
            </div> <!--/class="media-->
         <!--/ </div>-->
          
        </a>
      </ul>
    </div><!--/class="well well-small"-->
  </div><!--/span-->
  <div class="span8">
	<div class="well well-large">
		<div id="divaccount" style="display: none;">
				<font size="+1">Account</font>
				<br>
				Change your basic account,language, Tweet Privacy and Location Settings.
				<form name="accountinfo" id="accountinfo" action="" method="post">
					<table cellspacing="2" cellpadding="2" border="0">
					<tr>
						<td>User Name:</td>
						<td><input type="text" name="UserName" value="<%= userName %>"></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="text" name="Password" value=""</td>
					</tr>
					<tr>
						<td>
							<div class="dropdown">
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li><a tabindex="-1" href="#">Action</a></li>
									<li><a tabindex="-1" href="#">Another action</a></li>
									<li><a tabindex="-1" href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Separated link</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="dropdown">
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li><a tabindex="-1" href="#">Action</a></li>
									<li><a tabindex="-1" href="#">Another action</a></li>
									<li><a tabindex="-1" href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#">Separated link</a></li>
								</ul>
							</div>
						</td>
					</tr>
					</table>
				</form>
				
			</div> <!--/divaccount-->
			
			<div id="divpassword" style="display: none;">
				<font size="+1">Password</font>
				<br>
				Change your password or recover your current one.
				<form name="password" id="password" action="" method="post">
					<table align="center" cellspacing="2" cellpadding="2" border="0">
						<tr>
							<td>Current Password:</td>
							<td><input type="password" name="currpass" value=""></td>
						</tr>
						<tr>
							<td>New Password:</td>
							<td><input type="password" name="newpass" value=""></td>
						</tr>
						<tr>
							<td>Verify Password:</td> 
							<td><input type="password" name="verpass" value=""></td>
						</tr>
					</table>
				</form>
				
			</div> <!--/divpassword-->
  			<div id="divprofile" style="display: none;">
			<font size="+1">Profile</font>
			<br>
			This information appears on your public profile, search results, and beyond.
			<table align="center" cellspacing="2" cellpadding="2" border="0">
				<tr>
					<td>Photo
						<a href="/me"><img class="img-rounded offset1" src="images/attitash-dev-prof-pic.jpeg" /></a>
						<div class="dropdown">
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li><a tabindex="-1" href="#">Choose existint photo</a></li>
								<li><a tabindex="-1" href="#">Take photo</a></li>
								<li><a tabindex="-1" href="#">Remove photo</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="#">Separated link</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>

					Header
						<a href="/me"><img class="img-rounded offset1" src="images/gplaypatternblue.png" /></a>
						<button class="btn">Change Header</button><br><br>
					</td>
				</tr>
				<tr>
					<td>					
						<table cellspacing="2" cellpadding="2" border="0">
							<tr>
								<td>Name:</td>
								<td><input type="text" name="name" value="<%= userName %>"></td>
							</tr>
							<tr>
								<td>Location:</td>
								<td><input type="text" name="location" value=""></td>
							</tr>
							<tr>
								<td>Website:</td>
								<td><input type="text" name="website" value=""></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
					<button class="btn">Save Changes</button>
					</td>
				</tr>
				</table>
		
				</div><!--/divaccount-->
			

  
  
  	</div><!--/class="well well-large"-->
    
  </div><!--/span8-->
</div><!--/row-->
</div><!--/container-->

<% include footer.ejs %> <!-- footer and bootstrap scripts -->
<script type="text/javascript" src="lib/settings.js"></script>