body {
    margin: 0;
    padding: 0;
    text-align: center; 
}

#buttonLine{
	margin-right:50px;
}

#loginContent{
	style=width:200px; 
	margin:0 auto;
}

#loginForm{

	padding-top: 20px;

}
.centered {
    margin: 0 auto;
    text-align: left;
    width: 200px;
}
.login-fluid{
        padding: 100px 400px 0px 400px;
      } 
